
body {
  background: #ddd;
}
section {
  box-sizing: border-box;
  height: 500px;
  overflow: hidden;

  margin: 10px;
  background: rgba(240, 240, 240, 0.7);
  position:relative; /* Per situar el figcaption */ 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius:8px;  
  width: 18%;
  display: inline-block;
  object-fit: cover;
}

section:hover {
  background:rgba(240, 240, 240,0.9);  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
}
figure {
  width: 280px;
  margin: auto;
  
}
figure img {
  display: block;
  margin: auto;
  width: 280px;
  height: 300px;
  object-fit: contain;
  
}
figcaption {
  font-size: 0.9rem;
  font-style: italic;
  position: absolute;
  top:140px;
  left:auto;
  width: 250px;
  text-align: center;
  padding: 7px 0;
  background: rgba(240, 240, 240,0.8);
  visibility: hidden;
}

section:hover figcaption {
  visibility: visible;
}

section header {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 1.5rem;
  margin: 2% 0;
  text-align: center;
  font-variant:small-caps;
  font-weight: bold;
  letter-spacing: 0.15rem;
}

.intro {
  margin: 5px 17px;
  text-align: justify;
  line-height:1.55rem;
}

a section {
    color:black;
    text-decoration: none;
} 